.app-eval-login {
    padding: 40px;
    h1 {
        text-align: center;
        width: 500px;
        margin : 0 auto;
    }
    form {
        padding: 30px;
        background-color: white;
        margin: 30px auto;
        width: 300px;
        button {
            width: 100%;
        }

        * {
            margin: 5px 0;
        }
    }
}
