.app-eval {
    display: flex;
    height: 100vh;

    .sidebar {
        width: 300px;
        background-color: #4f4f4f;

        button {
            margin: 30px;
            width: calc(100% - 60px);
            border-radius: 0;
        }

        nav {
            div {
                padding: 10px 30px;
                display: block;
                border-top: solid rgba(255, 255, 255, 0.5) 0.5px;
                border-bottom: solid rgba(255, 255, 255, 0.5) 0.5px;
                color: white;
            }
        }
    }

    .content {
        margin: 0 auto;
        padding: 30px;
        width: calc(100vw - 300px);

        .header {
            width: 90%;
            padding: 10px 30px;
            border-radius: 10px;
            background-color: #219653;
            display: block;
            margin: 10px auto;
            margin-bottom: 30px;

            .title {
                color: white;
            }
        }

        .home {
            width: 700px;
            margin: 0 auto;
            color: black;
            .input-nilai-button {
                width: 700px;
                background-color: #B4B4B4;
                padding: 30px;
                text-align: center;
                button {
                    margin: 0 auto;
                }
            }
            .eval-info {
                padding: 30px;
                background-color: white;
                .section {
                    width: inherit;
                    strong {
                        border-bottom: black solid 1px;
                        width: 100%;
                        display: block;
                    }
                    .subsection-title {
                        font-weight: 700;
                    }
                }
            }
        }

    }
}