.app-kema {
    display: flex;
    height: 100vh;

    .sidebar {
        width: 300px;
        background-color: #4f4f4f;

        button {
            margin: 30px;
            width: calc(100% - 60px);
            border-radius: 0;
        }

        nav {
            div {
                padding: 10px 30px;
                display: block;
                border-top: solid rgba(255, 255, 255, 0.5) 0.5px;
                border-bottom: solid rgba(255, 255, 255, 0.5) 0.5px;
                color: white;
            }
        }
    }

    .content {
        margin: 0 auto;
        padding: 30px;
        width: calc(100vw - 300px);

        .header {
            width: 90%;
            padding: 10px 30px;
            border-radius: 10px;
            background-color: #219653;
            display: block;
            margin: 10px auto;
            margin-bottom: 30px;

            .title {
                color: white;
            }
        }

        .home {
            width: 100%;
            margin: 0 auto;
            display: flex;

            .card {
                width: 250px;
                margin-right: 30px;

                &.card-content {
                    background-color: #4f4f4f;
                }
            }
        }

        .job-list {
            overflow: auto;
            height: calc(100vh - 200px);
            .job-item {
                margin-bottom: 30px;
                width: 700px;
                padding: 30px;
                background-color: white;
                .item {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .mhs-list {
            .modal-content {
                width: 700px;
                background-color: white;
                .btn-container {
                    text-align: center;
                    padding: 10px;
                    margin: 0 auto;
                }
                .section {
                    .section-title {
                        font-weight: 800;
                    }
                }
            }

            input {
                margin-bottom: 30px;
            }
        }

        .select-job {
            overflow: auto;
            height: calc(100vh - 200px);
            .job-item {
                margin-bottom: 30px;
                width: 700px;
                padding: 30px;
                background-color: white;
            } 
        }

        .mhs-input, .eval-input {
            background-color: white;
            padding: 50px;

        }
    }
}
