body {
    height: 100vh;
    background-color: #F2F2F2;

    .button {
        &.is-primary {
            background-color: #219653;
            &:hover {
                background-color: #6fcf97;
            }
        }
    }
    .input, .textarea {
        width: 300px;
        display: block;
        &::after {
            content: 'aaaa\n';
        }
    }

    .select {
        display: block;
        width: 175px;
    }
}
