.app-kema {
  display: flex;
  height: 100vh; }
  .app-kema .sidebar {
    width: 300px;
    background-color: #4f4f4f; }
    .app-kema .sidebar button {
      margin: 30px;
      width: calc(100% - 60px);
      border-radius: 0; }
    .app-kema .sidebar nav div {
      padding: 10px 30px;
      display: block;
      border-top: solid rgba(255, 255, 255, 0.5) 0.5px;
      border-bottom: solid rgba(255, 255, 255, 0.5) 0.5px;
      color: white; }
  .app-kema .content {
    margin: 0 auto;
    padding: 30px;
    width: calc(100vw - 300px); }
    .app-kema .content .header {
      width: 90%;
      padding: 10px 30px;
      border-radius: 10px;
      background-color: #219653;
      display: block;
      margin: 10px auto;
      margin-bottom: 30px; }
      .app-kema .content .header .title {
        color: white; }
    .app-kema .content .home {
      width: 100%;
      margin: 0 auto;
      display: flex; }
      .app-kema .content .home .card {
        width: 250px;
        margin-right: 30px; }
        .app-kema .content .home .card.card-content {
          background-color: #4f4f4f; }
    .app-kema .content .job-list {
      overflow: auto;
      height: calc(100vh - 200px); }
      .app-kema .content .job-list .job-item {
        margin-bottom: 30px;
        width: 700px;
        padding: 30px;
        background-color: white; }
        .app-kema .content .job-list .job-item .item {
          display: flex;
          justify-content: space-between; }
    .app-kema .content .mhs-list .modal-content {
      width: 700px;
      background-color: white; }
      .app-kema .content .mhs-list .modal-content .btn-container {
        text-align: center;
        padding: 10px;
        margin: 0 auto; }
      .app-kema .content .mhs-list .modal-content .section .section-title {
        font-weight: 800; }
    .app-kema .content .mhs-list input {
      margin-bottom: 30px; }
    .app-kema .content .select-job {
      overflow: auto;
      height: calc(100vh - 200px); }
      .app-kema .content .select-job .job-item {
        margin-bottom: 30px;
        width: 700px;
        padding: 30px;
        background-color: white; }
    .app-kema .content .mhs-input, .app-kema .content .eval-input {
      background-color: white;
      padding: 50px; }
