.app-belmawa-login {
  padding: 40px; }
  .app-belmawa-login h1 {
    text-align: center;
    width: 500px;
    margin: 0 auto; }
  .app-belmawa-login form {
    padding: 30px;
    background-color: white;
    margin: 30px auto;
    width: 300px; }
    .app-belmawa-login form button {
      width: 100%; }
    .app-belmawa-login form * {
      margin: 5px 0; }
