.app-eval {
  display: flex;
  height: 100vh; }
  .app-eval .sidebar {
    width: 300px;
    background-color: #4f4f4f; }
    .app-eval .sidebar button {
      margin: 30px;
      width: calc(100% - 60px);
      border-radius: 0; }
    .app-eval .sidebar nav div {
      padding: 10px 30px;
      display: block;
      border-top: solid rgba(255, 255, 255, 0.5) 0.5px;
      border-bottom: solid rgba(255, 255, 255, 0.5) 0.5px;
      color: white; }
  .app-eval .content {
    margin: 0 auto;
    padding: 30px;
    width: calc(100vw - 300px); }
    .app-eval .content .header {
      width: 90%;
      padding: 10px 30px;
      border-radius: 10px;
      background-color: #219653;
      display: block;
      margin: 10px auto;
      margin-bottom: 30px; }
      .app-eval .content .header .title {
        color: white; }
    .app-eval .content .home {
      width: 700px;
      margin: 0 auto;
      color: black; }
      .app-eval .content .home .input-nilai-button {
        width: 700px;
        background-color: #B4B4B4;
        padding: 30px;
        text-align: center; }
        .app-eval .content .home .input-nilai-button button {
          margin: 0 auto; }
      .app-eval .content .home .eval-info {
        padding: 30px;
        background-color: white; }
        .app-eval .content .home .eval-info .section {
          width: inherit; }
          .app-eval .content .home .eval-info .section strong {
            border-bottom: black solid 1px;
            width: 100%;
            display: block; }
          .app-eval .content .home .eval-info .section .subsection-title {
            font-weight: 700; }
