body {
  height: 100vh;
  background-color: #F2F2F2; }
  body .button.is-primary {
    background-color: #219653; }
    body .button.is-primary:hover {
      background-color: #6fcf97; }
  body .input, body .textarea {
    width: 300px;
    display: block; }
    body .input::after, body .textarea::after {
      content: 'aaaa\n'; }
  body .select {
    display: block;
    width: 175px; }
