<div class="app-eval">
    <div class="sidebar">
        <nav>
            <div ng-click="state='HOME'">Beranda</div>
            <div>Ubah Password</div>
            <div>Keluar</div>
        </nav>
    </div>

    <div class="content">
        <div class="header">
            <h3 class="title">
                Selamat Datang, Evaluator
            </h3>
        </div>

        <div class="home" ng-if="state==='HOME'">
            <div class="input-nilai-button">
                <button ng-click="state='INPUT'" class="button is-primary">
                    Input Nilai
                </button>
            </div>
            <div>
                <strong>Data Mahasiswa yang Dinilai</strong>
            </div>
            <div class="eval-info">
                <div class="section">
                    <strong>Data Pribadi</strong>
                    <div class="subsection">
                        <div class="subsection-title">Nama Lengkap</div>
                        <div class="info">kdjwhkawhd</div>
                    </div>
                    <div class="subsection">
                        <div class="subsection-title">NIM</div>
                        <div class="info">kdjwhkawhd</div>
                    </div>
                </div>
                <div class="section">
                    <strong>Pekerjaan</strong>
                    <div class="subsection">
                        <div class="subsection-title">Lokasi</div>
                        <div class="info">kdjwhkawhd</div>
                    </div>
                    <div class="subsection">
                        <div class="subsection-title">Deskripsi Perkerjaan</div>
                        <div class="info">kdjwhkawhd</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-nilai" ng-if="state==='INPUT'">
            <table class="table">
                <thead>
                    <tr>
                        <th>Kriteria Penilaian</th>
                        <th>Skala Penilaian</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Makul 1</td>
                        <td>
                            <div class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Makul 1</td>
                        <td>
                            <div class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Makul 1</td>
                        <td>
                            <div class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Makul 1</td>
                        <td>
                            <div class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Makul 1</td>
                        <td>
                            <div class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Makul 1</td>
                        <td>
                            <div class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Makul 1</td>
                        <td>
                            <div class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Makul 1</td>
                        <td>
                            <div class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Makul 1</td>
                        <td>
                            <div class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Makul 1</td>
                        <td>
                            <div class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="button is-primary">Approve</button>
                        </td>
                        <td>
                            <button class="button is-primary">Simpan</button>
                        </td>

                    </tr>
                </tbody>
            </table>

            <div class="modal {{active ? 'is-active' : ''}}">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="section">
                        <div class="section-title">Data Pribadi</div>
                        <div class="subsection">
                            <div class="title"></div>
                            <div class="content"></div>
                        </div>
                    </div>
                    <div class="btn-container">
                        <div class="button is-primary">Lihat Nilai</div>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close" ng-click="active=false"></button>
            </div>
        </div>
    </div>
</div>