<div ng-controller="appBelmawa" class="app-belmawa">
    <div class="sidebar">
        <button ng-click="state='JOB_INPUT'" class="button is-primary">Input Pekerjaan</button>
        <nav>
            <div ng-click="state='HOME'">Beranda</div>
            <div ng-click="state='JOB_LIST'">Daftar Pekerjaan</div>
            <div ng-click="state='MHS_LIST'">Daftar Mahasiswa</div>
            <div>Ubah Password</div>
            <div>Keluar</div>
        </nav>
    </div>

    <div class="content">
        <div class="header">
            <h3 class="title">
                Selamat Datang, Belmawa
            </h3>
        </div>

        <div class="home" ng-if="state==='HOME'">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image"></img>
                    </figure>
                </div>
                <div class="card-content">
                    Hello World
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image"></img>
                    </figure>
                </div>
                <div class="card-content">
                    Hello World
                </div>
            </div>
        </div>

        <div class="job-list" ng-if="state==='JOB_LIST'">
            <strong>Daftar Pekerjaan</strong>
            <input class="input" type="" placeholder="Cari Pekerjaan" />

            <table class="table">
                <thead>
                    <tr>
                        <th>Waktu</th>
                        <th>Lokasi</th>
                        <th>Deskripsi Pekerjaan</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span ng-click="active=true">Lihat Detail</span>
                        <i class="fa fa-trash-alt"></i>
                        <i class="fa fa-pencil-alt"></i>
                    </td>
                </tbody>
            </table>

            <div class="modal {{active ? 'is-active' : ''}}">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="section">
                        <div class="section-title">Waktu Input</div>
                        <div class="section-content">blablablabal</div>
                    </div>
                    <div class="section">
                        <div class="section-title">Lokasi</div>
                        <div class="section-content">bakbaba</div>
                    </div>
                    <div class="section">
                        <div class="section-title">Deskripsi Pekerjaan</div>
                        <div class="section-content">aaaaaaaaaaaaaa</div>
                    </div>
                    <div class="section">
                        <div class="section-title">Kuota Pekerjaan</div>
                        <div class="section-content">15 orang</div>
                    </div>
                    <div class="section">
                        <div class="section-title">Dibutuhkan Sampai</div>
                        <div class="section-content">kjdgwkg</div>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close" ng-click="active=false"></button>
            </div>
        </div>

        <div class="mhs-list" ng-if="state==='MHS_LIST'">
            <strong>Daftar Mahasiswa</strong>
            <input class="input" type="" placeholder="Cari Pekerjaan" />
            <div class="select">
                <select>
                    <option>Select dropdown</option>
                    <option>With options</option>
                </select>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Waktu</th>
                        <th>NIM</th>
                        <th>Nama</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span ng-click="active=true">Lihat Detail</span>
                    </td>
                </tbody>
            </table>

            <div class="modal {{active ? 'is-active' : ''}}">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="section">
                        <div class="section-title">Data Pribadi</div>
                        <div class="subsection">
                            <div class="title"></div>
                            <div class="content"></div>
                        </div>
                    </div>
                    <div class="btn-container">
                        <div class="button is-info">Approved</div>
                        <div class="button is-danger">Declined</div>
                        <div class="button is-primary">Lihat Nilai</div>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close" ng-click="active=false"></button>
            </div>
        </div>

        <div class="list-campus" ng-if="false">
            <strong>Pilih Universitas</strong>
            <input type="text" class="input" placeholder="cari perguruan tinggi">
            <a href="">Telkom University</a>
            <br><button class="button is-primary">Load More</button>
        </div>

        <div class="job-input" ng-if="state==='JOB_INPUT'">
            <form class="form">
                <label for="">Lokasi</label>
                <textarea class="textarea" placeholder="Lokasi"></textarea><br>
                <label for="">Deskripsi Pekerjaan</label>
                <textarea class="textarea" placeholder="Deskripsi Perkerjaan"></textarea><br>
                <label for="">Kuota Pekerja</label>
                <input class="input" type="">
                <span>Orang</span><br>
                <label for="">Waktu</label>
                <input class="input" type="date">
                <button class="button is-primary">Submit</button>
            </form>
        </div>


        <div class="mhs-list">

        </div>
    </div>
</div>