<div class="app-kema" ng-controller="appKema">
    <div class="sidebar">
        <button ng-click="state='SELECT_JOB'" class="button is-primary">Input Mahasiswa</button>
        <nav>
            <div ng-click="state='HOME'">Beranda</div>
            <div ng-click="state='JOB_LIST'" ng-click="getJobs()">Daftar Pekerjaan</div>
            <div ng-click="state='MHS_LIST'; getStudent()">Daftar Mahasiswa</div>
            <div ng-click="state='EVAL'">Evaluator</div>
            <div>Ubah Password</div>
            <div>Keluar</div>
        </nav>
    </div>

    <div class="content">
        <div class="header">
            <h3 class="title">
                Selamat Datang, Kemahasiswaan
            </h3>
        </div>

        <div class="home" ng-if="state==='HOME'">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image"></img>
                    </figure>
                </div>
                <div class="card-content">
                    Hello World
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image"></img>
                    </figure>
                </div>
                <div class="card-content">
                    Hello World
                </div>
            </div>
        </div>

        <div class="job-list" ng-if="state==='JOB_LIST'">
            <div class="job-item" ng-repeat="job in jobs.data" ng-if="$index < (4 * maxjob)">
                <div class="item"><strong>Lokasi</strong><span>{{job.Lokasi}}</span></div>
                <div class="item"><strong>Deskripsi Pekerjaan</strong><span>{{job.Deskripsi}}</span></div>
                <div class="item"><strong>Kuota</strong><span>1</span></div>
            </div>
            <button class="button is-primary" ng-click="maxjob = maxjob + 1">Load More</button>
        </div>

        <div class="mhs-list" ng-if="state==='MHS_LIST'">
            <strong>Daftar Mahasiswa</strong>
            <input class="input" type="" placeholder="Cari Pekerjaan" />
            <!-- <div class="select">
                <select>
                    <option>Select dropdown</option>
                    <option>With options</option>
                </select>
            </div> -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Waktu</th>
                        <th>NIM</th>
                        <th>Nama</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="s in student.data">
                        <td>{{s["Terakhir Diupdate"]}}</td>
                        <td>{{s["NIM"]}}</td>
                        <td>{{s["Nama"]}}</td>
                        <td>{{s["Status"]}}</td>
                        <td>
                            <span class="button is-primary" ng-click="$parent.active=true; getStudentDetail()">Lihat
                                Detail</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal {{active ? 'is-active' : ''}}">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="section">
                        <div class="title is-5">Data Pribadi</div>
                        <div class="subsection">
                            <div class="title is-6">Nama Lengkap</div>
                            <div class="">{{studentDetail["Nama"]}}</div>
                        </div>
                        <div class="subsection">
                            <div class="title is-6">NIM</div>
                            <div class="">{{studentDetail["NIM"]}}</div>
                        </div>
                        <div class="subsection">
                            <div class="title is-6">Program Studi</div>
                            <div class="">{{studentDetail["Program Studi"]}}</div>
                        </div>
                        <div class="subsection">
                            <div class="title is-6">Alamat Email</div>
                            <div class="">{{studentDetail["Email"]}}</div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="title is-5">SKS</div>
                        <div class="subsection">
                            <div class="title is-6">Jummlah SKS yang telah lulus</div>
                            <div class="">{{studentDetail["Nama"]}}</div>
                        </div>
                        <div class="subsection">
                            <div class="title is-6">Jumlah SKS di semester berjalan</div>
                            <div class="">{{studentDetail["NIM"]}}</div>
                        </div>
                    </div>
                    <!-- <div class="section">
                        <div class="title is-5">Pekerjaan</div>
                        <div class="subsection">
                            <div class="title is-6">Lokasi</div>
                            <div class="">{{studentDetail["Nama"]}}</div>
                        </div>
                        <div class="subsection">
                            <div class="title is-6">Deskripsi Pekerjaan</div>
                            <div class="">{{studentDetail["NIM"]}}</div>
                        </div>
                    </div> -->
                    <div class="btn-container">
                        <div class="button is-primary">Lihat Nilai</div>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close" ng-click="active=false"></button>
            </div>
        </div>

        <!-- <div class="list-campus" ng-if="state==='MHS_LIST'"">
            <strong>Pilih Universitas</strong>
            <input type="" class="
            input" placeholder="cari perguruan tinggi">
            <div ng-repeat="i in Institution">
                <a href="" ng-click="getStudent($index)">
                    {{i["Nama Institusi"]}}
                </a><br>
            </div>
            <br><button class="button is-primary">Load More</button>
        </div> -->

        <div class="select-job" ng-if="state==='SELECT_JOB'">
            <div ng-repeat="j in jobs.data" class="job-item">
                <div class="lokasi"><strong>Lokasi : </strong>{{j["Lokasi"]}}</div>
                <div class="deskripsi"><strong>Deskripsi : </strong>{{j["Deskripsi"]}}</div>
                <div class="kuota"><strong>Terakhir Diedit : </strong>{{j["Terakhir Diedit"]}}</div>
                <button 
                    class="button is-primary" 
                    ng-click="selectJob(j['ID'])"
                >Pilih</button>
            </div>
        </div>


        <div class="mhs-input" ng-if="state==='MHS_INPUT'">
            <form class="form">
                <label for="">Nama Lengkap</label>
                <input type="" class="input" placeholder="Nama Lengkap" ng-model="mhsName">
                <label for="">NIM</label>
                <input type="" class="input" placeholder="NIM" ng-model="mhsNim">
                <label for="">Program Studi</label><br>
                <div class="select">
                    <select ng-model="mhsProdi">
                        <option>S1 Teknik Informatika</option>
                        <option>S1 Teknik Elektro</option>
                    </select>
                </div>
                <label for="">No Telepon</label>
                <input type="" class="input" placeholder="No. Telepon" ng-model="mhsPhone">
                <label for="">Alamat Email</label>
                <input type="email" class="input" placeholder="Alamat Emaiil" ng-model="mhsEmail">
                <label for="">Jumlah SKS yang telah lulus</label>
                <input type="" class="input" placeholder="Jumlah SKS yang telah lulus" ng-model="mhsSKS1">
                <label for="">Jumlah SKS yang diambil</label>
                <input type="text" class="input" placeholder="JUmlah SKS yang diambil" ng-model="mshSKS2">
                <button 
                    class="button is-primary"
                    ng-click="postStudent(mhsName, mhsNim, mhsProdi, mhsEmail, mhsSKS1, mhsSKS2)"     
                >Submit</button>
            </form>
        </div>

        <div class="eval-input" ng-if="state==='EVAL_INPUT'">
            <form class="form">
                <label for="">Nama Lengkap</label>
                <input type="" class="input" placeholder="Nama Lengkap">
                <label for="">NIM</label>
                <input type="" class="input" placeholder="NIM">
                <label for="">Program Studi</label><br>
                <div class="select">
                    <select>
                        <option>Program Studi</option>
                        <option>With options</option>
                    </select>
                </div>
                <label for="">No Telepon</label>
                <input type="" class="input" placeholder="No. Telepon">
                <label for="">Alamat Email</label>
                <input type="email" class="input" placeholder="Alamat Emaiil">
                <label for="">Jumlah SKS yang telah lulus</label>
                <input type="" class="input" placeholder="Jumlah SKS yang telah lulus">
                <label for="">Jumlah SKS yang diambil</label>
                <input type="text" class="input" placeholder="JUmlah SKS yang diambil">
                <button class="button is-primary">Submit</button>
            </form>
        </div>


        <div class="evaluator" ng-if="state==='EVAL'">
            <strong>Daftar Mahasiswa</strong>
            <input class="input" type="" placeholder="Cari Pekerjaan" />
            <div class="select">
                <select>
                    <option>Select dropdown</option>
                    <option>With options</option>
                </select>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Nama</th>
                        <th>Status</th>
                        <th>Status Akun</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span ng-click="active=true">Lihat Detail</span>
                    </td>
                </tbody>
            </table>

            <div class="modal {{active ? 'is-active' : ''}}">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="section">
                        <div class="section-title">Data Pribadi</div>
                        <div class="subsection">
                            <div class="title"></div>
                            <div class="content"></div>
                        </div>
                    </div>
                    <div class="btn-container">
                        <div class="button is-primary">Lihat Nilai</div>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close" ng-click="active=false"></button>
            </div>
        </div>
    </div>
</div>
