<div class="app-belmawa-login" ng-controller="appLoginBelmawa">
    <h1 class="title is-2">Selamat Datang di Aplikasi KKN Belmawa</h1>
    <form action="">
        <input class="input" type="text" ng-model="username" placeholder="Username" required>
        <input class="input" type="password" ng-model="password" placeholder="Password" required>
        <small class="small">Lupa Password</small><br>
        <button class="button is-primary" type="submit" ng-click="login()">Login</button>
        <span>Belum punya akun? <strong>Klik disini</strong></span>
    </form>
</div>
